.modal-wrapper-open {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  /* margin: 100px auto 0; */
  /* transition: all 0.8s; */
  /* position: fixed; */
  top: 50%;
  left: 50%;
  position: fixed;
  width: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.modal-wrapper-close {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  /* margin: 100px auto 0; */
  /* transition: all 0.8s; */
  /* position: fixed; */
  top: 50%;
  left: 50%;
  position: fixed;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.modal-header {
  background: #e2e2e2;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-header h2 {
  float: left;
  margin: 0;
  padding: 0;
  color: #7c7c7c;
}

.modal-body {
  padding: 10px 15px;
  text-align: left;
  height: 200px;
  overflow-x: scroll;
}

.modal-footer {
  background: #ffffff;
  /* height: 35px; */
  padding: 15px;
}

.close-modal-btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}

.back-shed {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
}
